div.outer {
  border: 2px solid #333;
  position: relative;
  width: 300px; }
  div.outer div.inner {
    background-color: red;
    height: 80px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 80px; }
    div.outer div.inner.selected {
      left: 220px;
      -webkit-animation-name: slide;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: 1; }

@-webkit-keyframes slide {
  0% {
    left: 0px;
    -webkit-animation-timing-function: ease-in-out; }

  70% {
    left: 300px;
    -webkit-animation-timing-function: ease-in-out; }

  90% {
    left: 200px;
    -webkit-animation-timing-function: ease-in; }

  100% {
    left: 220px; } }
