* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

body {
  background-color: #AAA;
  color: white;
  font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
  font-size: 16px; }
  body > header {
    background-color: #8DC745;
    border-bottom: 4px solid #6B3;
    color: white;
    padding: 20px 50px; }
    body > header h1 + h2 {
      font-size: 130%; }
  body > section {
    background-color: white;
    color: black;
    display: -webkit-box;
    min-height: 250px;
    padding: 20px 50px;
    -webkit-box-orient: horizontal; }
    body > section > aside {
      border: 3px solid #555;
      margin-left: 20px;
      padding: 20px;
      min-width: 60px;
      -webkit-border-radius: 10px; }
      body > section > aside li + li {
        margin-top: 5px; }
      body > section > aside ul + ul {
        margin-top: 20px; }
    body > section > section {
      display: -webkit-box;
      -webkit-box-align: start;
      -webkit-box-flex: 1;
      -webkit-box-orient: horizontal;
      -webkit-box-lines: multiple; }
    body > section h2 {
      font-size: 140%; }
  body > footer {
    border-top: 3px solid #555;
    color: #444;
    padding: 20px 50px; }
    body > footer a {
      color: #963; }

hgroup h1 + h2 {
  margin-top: 10px; }

nav h1 {
  font-size: 140%; }
nav h1 + ul {
  margin-top: 10px; }

label {
  display: block; }

ul {
  margin: 0px;
  padding: 0px; }
  ul li {
    list-style-type: none; }

dl dt {
  font-size: 90%;
  font-weight: bold; }
dl dd {
  margin-bottom: 5px; }

button {
  padding: 3px 5px; }

.hbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal; }

.vbox {
  display: -webkit-box;
  -webkit-box-orient: vertical; }
