body > section > section {
  -webkit-box-orient: vertical; }

section.drag, section.drop {
  border: 2px solid #333;
  display: -webkit-box;
  height: 100px;
  width: 350px; }
  section.drag + section, section.drop + section {
    margin-top: 10px; }
  section.drag > div, section.drop > div {
    background-color: red;
    border: 2px solid #333;
    color: white;
    cursor: move;
    height: 80px;
    margin: 10px;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 80px;
    -webkit-box-sizing: border-box; }
    section.drag > div.dragging, section.drop > div.dragging {
      opacity: 0.5; }

[draggable] {
  -webkit-user-select: none; }
