body > section {
  background-color: red;
  min-height: 200px; }
  body > section .narrow {
    display: none; }

@media only screen and (max-width: 600px) {
  body > section {
    background-color: green; }
    body > section .narrow {
      display: inherit; }
    body > section .wide {
      display: none; } }
