body > section > section {
  -webkit-box-orient: vertical; }
  body > section > section > section {
    display: -webkit-box;
    -webkit-box-orient: horizontal; }
    body > section > section > section + section {
      margin-top: 20px; }

section.transform {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: vertical; }
  section.transform + section.transform {
    margin-left: 20px; }
  section.transform div.outer {
    border: 2px solid black;
    margin: 20px; }
    section.transform div.outer div.inner {
      background-color: rgba(200, 0, 0, 0.6);
      height: 50px;
      width: 50px; }
  section.transform.rotateX div.outer div.inner {
    -webkit-transform: rotateX(45deg); }
  section.transform.rotateY div.outer div.inner {
    -webkit-transform: rotateY(45deg); }
  section.transform.perspective div.outer {
    -webkit-perspective: 100; }
  section.transform.origin div.outer div.inner {
    -webkit-transform-origin: 0 0; }
