
body > section {
  background-color: red;
  color: #ddd;
  min-height: 200px;

	.narrow {
		display: none;
	}
}

@media only screen and (max-width: 550px) {
	
	body > section {
		background-color: blue;
		
		.narrow {
			display: inherit;
		}
		.wide {
			display: none;
		}
	}
	
}
