div.outer {
  border: 2px solid #333;
  position: relative;
  width: 300px;

  div.inner {
    background-color: red;
    height: 80px;
    left: 0px;
    position: relative;
    width: 80px;
    -webkit-transition-property: left;
    -webkit-transition-duration: 500ms;
    &.selected {
      left: 220px;
    }
  }
}
