
section.transform {
  display: -webkit-box;

  div.outer {
    border: 2px solid black;
    margin: 20px;
  
    div.inner {
      background-color: red;
      height: 50px;
      width: 50px;
      -webkit-transform: translate(10px, 15px);
    }
  }
}
