
section.transform {
  display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
	
	& + section.transform {
		margin-left: 20px;
	}

  div.outer {
    border: 2px solid black;
    margin: 20px;
  
    div.inner {
      background-color: rgba(200, 0, 0, 0.6);
      height: 50px;
      width: 50px;
    }
  }
  
  &.translate {
  
    div.outer {
    
      div.inner {
        -webkit-transform: translate(10px, 15px);
      }
    }
  }

  &.scale {
  
    div.outer {
    
      div.inner {
        -webkit-transform: scale(0.7, 1.3);
      }
    }
  }

  &.rotate {
  
    div.outer {
    
      div.inner {
        -webkit-transform: rotate(20deg);
      }
    }
  }

  &.skew {
  
    div.outer {
    
      div.inner {
        -webkit-transform: skew(20deg);
      }
    }
  }

  &.origin {
  
    div.outer {
    
      div.inner {
        -webkit-transform-origin: 0 0;
      }
    }
  }
}
