!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title Flexible Box model
    %link{:href => "css/common.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/box.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %header
      %hgroup
        %h1 Flexible Box model
        %h2 No more 'float'!
    %section
      %section
        %section.property.orient
          %h2 box-orient
          %ul.values
            %li.horizontal horizontal
            %li.vertical vertical
          %ul.box
            %li
            %li
            %li
        %section.property.pack
          %h2 box-pack
          %ul.values
            %li.start start
            %li.end end
            %li.center center
            %li.justify justify
          %ul.box
            %li
            %li
            %li
        %section.property.align
          %h2 box-align
          %ul.values
            %li.start start
            %li.end end
            %li.center center
            %li.baseline baseline
            %li.stretch stretch
          %ul.box
            %li
            %li
            %li
        %section.property.flex
          %h2 box-flex
          %ul.values
            %li.F000 0-0-0
            %li.F111 1-1-1
            %li.F122 1-2-2
            %li.F123 1-2-3
          %ul.box
            %li
            %li
            %li
      %aside
        %ul
          %li box-orient
          %li box-pack
          %li box-align
          %li box-flex
          %li box-direction
          %li box-ordinal-group
          %li box-lines
    %footer
      %h1 Links
      %ul
        %li
          %a{:href => "http://www.w3.org/TR/css3-flexbox/"} Spec
        %li
          %a{:href => "http://www.html5rocks.com/tutorials/flexbox/quick/"} HTML5 Rocks
    :javascript
      function initValues(property) {
        var section = document.querySelector("section.property." + property);
        var selected = null;
        var values = section.querySelectorAll("ul.values > li");
        for (var i =0; i < values.length; i++) {
          values[i].addEventListener('click', function() {
            if (selected != null) {
              selected.classList.remove('selected');
              section.classList.remove(selected.className);
            }
            section.classList.add(this.className);
            selected = this;
            selected.classList.add('selected');
          }, false);
        }
      };
      initValues("orient");
      initValues("pack");
      initValues("align");
      initValues("flex");
