!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title Flexible Box model
    %link{:href => "css/common.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/box.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %header
      %hgroup
        %h1 Flexible Box model
        %h2 No more 'float'!
    %section
      %ul
    %footer
      %h1 Links
        %ul
          %li
            %a{:href => "http://www.w3.org/TR/css3-flexbox/"} Spec
          %li
            %a{:href => "http://www.html5rocks.com/tutorials/flexbox/quick/"} HTML5 Rocks
    :javascript
      var input = document.querySelector("input");
