!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title Flexible Box model
    %link{:href => "css/common.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/box.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %header
      %hgroup
        %h1 Flexible Box model
        %h2 No more 'float'!
    %section
      %section.property.orient
        %h2 box-orient
        %ul.values
          %li.horizontal horizontal
          %li.vertical vertical
        %ul.box
          %li
          %li
          %li
    %footer
      %h1 Links
      %ul
        %li
          %a{:href => "http://www.w3.org/TR/css3-flexbox/"} Spec
        %li
          %a{:href => "http://www.html5rocks.com/tutorials/flexbox/quick/"} HTML5 Rocks
    :javascript
      (function() {
        var section = document.querySelector("section.property.orient");
        var selected = null;
        var values = section.querySelectorAll("ul.values > li");
        for (var i =0; i < values.length; i++) {
          values[i].addEventListener('click', function() {
            if (selected != null) {
              section.classList.remove(selected.innerHTML);
            }
            section.classList.add(this.innerHTML);
            selected = this;
          }, false);
        }
      })();
