!!! 5

%html
  %head
    %title Drag & Drop
    %link{:href => "css/common.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/dragndrop.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %section
      %div
    %section
    :javascript
      var div = document.querySelector("section div");
