!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %meta :name => "viewport", :content => "width=device-width"
    %title Media Query
    %link{:href => "css/common.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/mediaquery.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %header
      %hgroup
        %h1 Media Query
        %h2 Different style for different devices
    %section
      %h2.wide Wide
      %h2.narrow Narrow
    %footer
      %h1 Links
      %ul
        %li
          %a{:href => "http://www.w3.org/TR/css3-mediaqueries/"} Spec
