!!! 5

%html
  %head
    %title Raphael
    %link{:href => "css/common.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/raphael.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "js/lib/raphael.js", :type => "text/javascript", :charset => "utf-8"}
  %body
    %section
      %section.raphael
      %footer
        %ul
          %li
            %a{:href => "http://raphaeljs.com/"} Raphael
    :javascript
      var target = document.querySelector("section.raphael");
      var paper = Raphael(target, 200, 200);
      var circle = paper.circle(50, 50, 40);
      var rect = paper.rect(60, 60, 80, 60);
