!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title Transformation 3D
    %link{:href => "css/common.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/transform3d.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %header
      %hgroup
        %h1 Transformation 3D
        %h2 Transformations in the 3D space
    %section
      %section
        %section
          %section.transform.rotateX
            %div.outer
              %div.inner
            %h2 rotateX
          %section.transform.rotateX.perspective
            %div.outer
              %div.inner
            %h2 perspective
          %section.transform.rotateX.perspective.origin
            %div.outer
              %div.inner
            %h2 origin
        %section
          %section.transform.rotateY
            %div.outer
              %div.inner
            %h2 rotateY
          %section.transform.rotateY.perspective
            %div.outer
              %div.inner
            %h2 perspective
          %section.transform.rotateY.perspective.origin
            %div.outer
              %div.inner
            %h2 origin
      %aside
        %ul
          %li rotateX(deg)
          %li rotateY(deg)
          %li perspective
    %footer
      %nav
        %h1 Links
        %ul
          %li
            %a{:href => "http://www.w3.org/TR/css3-3d-transforms/"} Spec
    :javascript
      var input = document.querySelector("input");
