!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title Transformation 2D
    %link{:href => "css/common.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/transform2d.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %header
      %hgroup
        %h1 Transformation 2D
        %h2 Transformations in the 2D space
    %section
      %section.transform.translate
        %div.outer
          %div.inner
        %h2 translate
      %section.transform.scale
        %div.outer
          %div.inner
        %h2 scale
      %section.transform.rotate
        %div.outer
          %div.inner
        %h2 rotate
      %section.transform.skew
        %div.outer
          %div.inner
        %h2 skew
    %footer
      %h1 Links
      %ul
        %li
          %a{:href => "http://www.w3.org/TR/css3-2d-transforms/"} Spec
    :javascript
      var input = document.querySelector("input");
