!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title Template
    %link{:href => "css/common.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/websocket.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %header
      %hgroup
        %h1 WebSockets
        %h2 Sockets for the Web
    %section
      %section
        %input{:type => :text}
        %button.send Send
        %pre.result
    %footer
      %nav
        %h1 Links
        %ul
          %li
            %a{:href => "http://dev.w3.org/html5/websockets/"} Spec
          %li
            %a{:href => "http://www.igvita.com/2009/12/22/ruby-websockets-tcp-for-the-browser/"} Ruby & Websockets: TCP for the Web
    :javascript
      var input = document.querySelector("input");
      var result = document.querySelector("pre.result");
      //var connection = new WebSocket('ws://html5rocks.websocket.org/echo');
      var connection = new WebSocket('ws://localhost:8340');
      connection.onopen = function () {
        document.querySelector("button.send").addEventListener('click', function() {
          connection.send(input.value);
        }, false);
      };
      connection.onerror = function (error) {
        result.innerHTML += "WebSocket Error " + error + "\n";
      };
      connection.onmessage = function (e) {
        result.innerHTML += e.data + "\n"
      };
