!!! 5

%html
  %head
    %link{:href => "css/common.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/websocket.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %section
      %label URL: ws://localhost:8340
      %input{:type => :text}
      %button.send Send
      %pre.result
      %footer
        %ul
          %li
            %a{:href => "http://dev.w3.org/html5/websockets/"} Spec
          %li
            %a{:href => "http://www.igvita.com/2009/12/22/ruby-websockets-tcp-for-the-browser/"} Ruby & Websockets: TCP for the Web
    :javascript
      var input = document.querySelector("input");
      var result = document.querySelector("pre.result");
      //var connection = new WebSocket('ws://html5rocks.websocket.org/echo');
      var connection = new WebSocket('ws://localhost:8340');
      connection.onopen = function () {
        document.querySelector("button.send").addEventListener('click', function() {
          connection.send(input.value);
        }, false);
      };
      connection.onerror = function (error) {
        result.innerHTML += "WebSocket Error " + error + "\n";
      };
      connection.onmessage = function (e) {
        result.innerHTML += e.data + "\n"
      };
